.cache
.classpath
.metadata/
*.class
*.jar
bin/
out/
libs/
.project
.prefs
.settings/
*.log
*.xml
*.cnf
tests/
*.iml
*.name
*.xlsx
*.csv
*.zip
*.7z
CanonicalCSP/
TODO.txt
GA/TODO.txt
.idea/
problems/
config/